//- Basic Page Needs
meta(charset="utf-8")
title #{brandTitle} | #{pageTitle}
//- Mobile Specific Meta
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(name="description" content="#{pageDesc}")
meta(name="keywords" content="#{pageKeywords}")
meta(name="author" content="#{author}")
meta(name='robots', content='max-snippet:-1, max-image-preview:large, max-video-preview:-1')
link(rel='canonical', href='#{siteUrl}')
meta(property='og:locale', content='fr_FR')
meta(property='og:type', content='website')
meta(property='og:title', content='#{brandTitle}')
meta(property='og:description', content='#{pageDesc}')
meta(property='og:url', content='#{siteUrl}')
meta(property='og:site_name', content='#{brandTitle}')
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:description', content='#{pageDesc}')
meta(name='twitter:title', content='#{brandTitle}')
//- CSS
//-  link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
  link(rel="icon" href="/favicon.ico" type="image/x-icon")

link(rel="stylesheet" href="#{siteUrl}/css/main.css")
//- SEO
script(type='application/ld+json').
  {"@context":"https://schema.org","@graph":[{"@type":"Organization","@id":"#{siteUrl}#organization","name":"#{brandTitle}","url":"#{siteUrl}","sameAs":[],"logo":{"@type":"ImageObject","@id":"#{siteUrl}#logo","url":"#{siteUrl}/apple-icon-180x180.png","width":180,"height":180,"caption":"#{brandTitle} | #{pageTitle}"},"image":{"@id":"#{siteUrl}#logo"}},{"@type":"WebSite","@id":"#{siteUrl}#website","url":"#{siteUrl}","name":"#{brandTitle}","publisher":{"@id":"#{siteUrl}#organization"}},{"@type":"WebPage","@id":"#{siteUrl}#webpage","url":"#{siteUrl}","inLanguage":"#{lang}","name":"#{brandTitle} | #{pageTitle}","isPartOf":{"@id":"#{siteUrl}#website"},"about":{"@id":"#{siteUrl}#organization"},"datePublished":"2019-11-20T10:19:35+01:00","dateModified":"#{dateModified}"}]}
//-  link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
  link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
  link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
  link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
  link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
  link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
  link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
  link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
  link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
  link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
  link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
  link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
  link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
  link(rel='manifest', href='/manifest.json')
  meta(name='msapplication-TileColor', content='#ffffff')
  meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
meta(name='theme-color', content='#ffffff')
